/* Produk.css */

/* Tambahkan gaya untuk perangkat seluler */
@media (max-width: 767px) {
    .relative {
      overflow-x: scroll;
    }
  
    table {
      min-width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      overflow: hidden;
    }
  
    th,
    td {
      min-width: 100px;
      word-wrap: break-word;
      white-space: nowrap;
    }
  
    th {
      background-color: #f8f8f8;
    }
  
    td,
    th {
      padding: 10px 15px;
      border: 1px solid #e0e0e0;
    }
  
    .p-5 {
      padding: 1rem !important;
    }
  }
  